*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
#thebody{
    background-color: hsl(216, 12%, 8%);
    width: 100%;
    height: 100%;
    display: flex;
}
