@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Overpass", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#thebody {
    background-color: hsl(216, 12%, 8%);
    width: 100%;
    height: 100%;
    display: flex;
    /* ensures content is aligned to the center*/
    justify-content: center;
    align-items: center;
}

#card {
    background-color: hsl(213, 19%, 18%);
    padding: 20px;
    border-radius: 30px;

}

#card>h1 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

#card>p {
    color: hsl(217, 12%, 63%);
    width: 22rem;
    line-height: 1.6rem;

}

#card>figure {
    background-color: hsl(213, 19%, 22%);
    width: max-content;
    padding: 15px;
    border-radiUs: 100%;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 15px;
}

#card>button {
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    border-radius: 80px;
    border: transparent;
    padding: 10px;
    color: hsl(216, 12%, 8%);
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.2rem;
    margin-top: 20px;
    box-shadow: 1px 1px;
    margin-bottom: 15px;
    padding-top: 15px;

}

.num {
    color: hsl(217, 12%, 63%);
    background-color: hsl(213, 19%, 24%);
    width: max-content;
    padding: 15px;
    border-radius: 100%;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 10px;
    font-weight: 800;
}

#numbers {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}
.different{
 display: flex;
 flex-direction: column; 
 justify-content: center; 
 align-items: center; 
}
.different{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#card #pt{
    background-color: hsl(213, 19%, 22%);
    width: max-content ;
    border-radius: 20px;    
    padding: 3px 20px;
    padding-bottom: 2px;
    color:rgba(255, 136, 0, 0.704);
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 40px;
    
}